<h1>Quotes</h1>
<br>

<% @quotes.each do |quote| %>
  <div class="card mb-3 p-4">
    <h3><%= quote.body %></h3>
    <%= link_to "View", quote_path(quote.id), :class => 'btn btn-default' %>
  </div>
<% end %>