<h1>
  <%= @quote.body %>
</h1>
<h4 class="pt-3">
  - <%= @quote.author %>
</h4>
<hr>

<%= link_to "Edit",
  edit_quote_path(@quote),
  :class => 'btn btn-default'
%>
<%= link_to "Delete",
  quote_path(@quote),
  :class => 'btn btn-default',
  method: :delete,
  data: { confirm: 'Are you sure?' }
%>